html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.whiteText {
  color: #ddd;
}

.blink {
  animation: blinker 0.7s linear infinite;
}

@keyframes blinker {
  from {
    color: #ddd;
  }
  to {
    color: #777;
  }
}

.Typewriter__wrapper {
  font-family: 'Fira Code', monospace;
  font-size: 0.7em;
}
